.card {
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}
.img {
    width: 100%;
}
.name {
    color: black;
    text-decoration: none;
}
.price {
    margin-top: 10px;
    font-size: 24px;
    margin-top: auto;
}
.card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card-list .img {
    width: 20%;
}
/* .card-4 {
    width: 25%;
}
.card-2 {
    width: 50%;
}
.card-list {
    width: 100%;
} */

/* @media (max-width: 992px) {
    .card {
        width: calc(50% - 30px);
    }
    (N/1440*100) = 
    fn(N) {
        N/1440*100
    }
    fn(420)

    scss 
    module + MUI
    styled + MUI/AntDesign
} */
/* .view-1 {
    width: 100%;
} 
    .view-2 {
        width: 50%
*/